* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

h3,p {
    margin: 10px;
}


.menu a {

    text-decoration: none;
    padding-left: 30px;

}

ul {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    align-items: center;

}

nav {
    border: 2px solid #000;
    position: sticky;
    top: 0;
}

main {
    background-color: rgb(143, 132, 132);
    height: 30vh;
    border: 2px solid #000;
    border-radius: 10px;
    max-width: 1440px;
    margin: 50px auto;
    text-align: center;
}

.main_text {
    background-color: bisque;
    max-width: 750px;
    margin: 50px auto;
    border-radius: 10px;
}

aside {
    background-color: rgb(241, 247, 247);
    max-width: 1600px;
    margin: 10px auto;
    border: 2px solid #000;
    border-radius: 10px;
    display: grid;
}

.user{
    background-color: rgb(70, 58, 58);
    color: #fff;
    max-width: 1440px;
    margin: 10px auto;
    border-radius: 10px;
    display: flex;

}


footer {
    height: 50px;
    border: 2px solid #000;
    
}

img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 10px;
}

.menu {
    display: flex;
    list-style: none;
}